@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,400..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

